body {
    background-image: url(./views/spider-man-miles-morales-4k-2020-ix-1920x1080\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 80%;
}

/*Cabeçalho*/

.cabecalho {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    background: rgba(29, 29, 29, 0.5); 
}

@media screen and (min-width: 0px) {
    .cabecalho {
        padding: 0 1rem;
    }
}

@media screen and {
    .cabecalho {
        padding: 0 5rem;
        justify-content: space-between;
    }
}

@media screen and (min-width: 780px) {
    .logo {
        display: block;
    }
}

.menu__lista {
    display: flex;
    margin-right: 0.2rem;
}

.menu__item {
    padding-right: 0.7rem;
    text-transform: uppercase;
    color: #f2f2f2;
}

/*Main*/

.descricao {
    display: flex;
}

.descricao__titulo {
    justify-content: center;
    position: absolute;
    height: 80%;
    width: 100%;
    align-items: center;
    display: flex;
    font-size: 2.7rem;
    text-transform: uppercase;
    color: #f2f2f2;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.descricao__paragrafo {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 95%;
    width: 100%;
    align-items: center;
}

@media screen and (min-width: 0px) {
    .imagem__miles__morales {
        max-width: 100%
    }
}

.botao {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    position: absolute;
    height: 110%;
    width: 100%;
    align-items: center;
}

.button__as__link {
    background: #1d1d1d;
    padding: 0.8rem 2.9rem;
    border-radius: solid red;
    border-radius: 0.1px 1.5ch;
    border-style: ridge;
    cursor: pointer;
}

.button__as__link a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}